<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/blood/write.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <script src="/js/blood/write.js" defer></script>
    <title>혈압관리</title>
  </head>
  <body>
    <div class="blood_contents">
      <div class="form">
        <form class="blood_form">
          <input type="text" id="systolic" placeholder="수축기혈압" />
          <input type="text" id="diastolic" placeholder="이완기혈압" />
          <p id="button">등록</p>
          <p class="message">적정혈압을 유지하세요</p>
        </form>
      </div>
    </div>
  </body>
</html>
