<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blood/write.css">
    <script src="/js/blood/write.js" defer></script>
    <title>blood pressure</title>
</head>
<body>
    <div class="content">
        <div class="sec">
            <strong>수축혈압</strong>
            <input type="text" name="" id="systolic">
        </div>
    </div>
</body>
</html>