<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/board/write.js" defer></script>
  <link rel="stylesheet" href="/css/home/login.css"></link>
  <title>Document</title>
</head>
<body>
    <div class="login-page">
      <div class="form">
        <input id="title" type="text" placeholder="제목"/>
        <textarea id="contents" placeholder="내용"></textarea>
        <select id="bbrd-type">
          <option value="TEST">TEST</option>
          <option value="NOTICE">NOTICE</option>
          <option value="ETC">ETC</option>
        </select>
        <input id="bbrd-nt-yn" type="checkbox" value="Y">공지</input>
        <p id="button">작성</p>
      </div>
    </div>
</body>
</html>