<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/js/home/login.js" defer></script>
    <link rel="stylesheet" href="/css/home/login.css"></link>
    <title>로그인</title>
  </head>
  <body>
    <div class="login_contents">
      <div class="form">
        <form class="login-form">
          <input id="user-id" type="text" placeholder="아이디" />
          <input id="user-pass" type="password" placeholder="비밀번호" />
          <p id="button">로그인</p>
          <p class="message">
            등록되지 않았나요? <a href="/register">회원가입</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>