<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2ab4cd20bd.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/home/main.js" defer></script>
    <title>main</title>
  </head>
  <body>
    <nav class="navbar">

      <div class="navbar_logo">
        <i class="fa-solid fa-crow"></i>
        <a href="">WHITECROW</a>
      </div>

      <ul class="navbar_menu">
        <li><a href="/">홈</a></li>
        <li><a href="/blood/write">혈압</a></li>
        <li><a href="">음식</a></li>
        <li><a href="">수치</a></li>
        <li><a href="/board/list">게시판</a></li>
      </ul>

      <ul class="navbar_icons">
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-solid fa-user"></i></li>
      </ul>

      <a href="#" class="navbar_toggleBtn">
        <i class="fa-solid fa-bars"></i>
      </a>
      
    </nav>
  </body>
</html>
